<div class="footer flex flex-col md:flex-row md:justify-between">
  <div class="footer-left">
    <h1 class="footer-title">{{ 'FOOTER.TITLE' | translate }}</h1>
    <div class="footer-socials flex flex-col justify-center gap-4 md:flex-row md:justify-start">
      <a [href]="env.instagram" target="_blank">INSTAGRAM</a>
      <a [href]="env.facebook" target="_blank">FACEBOOK</a>
      <a [href]="env.pinterest" target="_blank">PINTEREST</a>
      <a [href]="env.spotify" target="_blank">SPOTIFY</a>
    </div>

    <div class="flex flex-col justify-center items-center gap-8 md:flex-row md:justify-start md:items-start md:gap-12">
      <div class="footer-description">
        {{ 'FOOTER.DESCRIPTION' | translate }}
      </div>
      <div>
        <ul class="footer-menu">
          <li><a>{{ 'HEADER.COLLECTIONS' | translate }}</a></li>
          <li><a routerLink="/illustrations">{{ 'HEADER.ILLUSTRATIONS' | translate }}</a></li>
          <li><a>{{ 'HEADER.BRAND' | translate }}</a></li>
          <li><a>{{ 'HEADER.JOURNAL' | translate }}</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-links mt-6 flex flex-col justify-center gap-3 md:flex-row md:justify-between">
      <a>{{ 'FOOTER.LEGAL_MENTION' | translate }}</a>
      <a>{{ 'FOOTER.CREDITS' | translate }}</a>
      <a>{{ 'FOOTER.SITE' | translate }}</a>
      <a>{{ 'FOOTER.DELIVERY' | translate }}</a>
      <a>{{ 'FOOTER.FAQ' | translate }}</a>
      <a>{{ 'FOOTER.CGV' | translate }}</a>
    </div>
  </div>

  <div class="footer-right flex justify-center items-center">
    <img src="assets/images/logos/logo-1.svg">
  </div>
</div>
