:host {
  .quantity-container {
    max-width: 200px;
    margin: 0 auto 5px;

    .quantity-title {
      font-size: 12px;
      font-family: Fixture-Expanded-Light, Roboto, sans-serif;
      text-align: left;
    }

    .quantity-input {
      border-bottom: solid 1px #000;

      mat-icon {
        margin: 0;
      }
    }

    &.md {
      .quantity-input {
        mat-icon {
          font-size: 16px;
          height: 16px;
          width: 16px;
        }

        span {
          font-size: 20px;
        }
      }
    }

    &.sm {
      .quantity-title {
        font-weight: 600;
      }

      .quantity-input {
        button {
          min-width: initial;

          mat-icon {
            font-size: 14px;
            height: 14px;
            width: 14px;
          }
        }

        span {
          font-size: 16px;
        }
      }
    }
  }
}
