<div
  class="nav-bar flex flex-row items-center justify-between"
  clickOutside
  (onClickOutside)="toggleAuthenticationPopup(false)"
>
  <div class="flex flex-row items-center gap-4">
    <a routerLink="/">
      <img *ngIf="color === 'white'" class="logo" src="assets/images/logos/logo-1.svg">
      <img *ngIf="color === 'black'" class="logo" src="assets/images/logos/logo-2.png">
    </a>
    <a
      *ngFor="let nav of navs; trackBy: trackByFn"
      class="nav-bar-link {{ color }} max-lg:hidden"
      [routerLink]="[nav.route]"
      routerLinkActive="active"
    >{{ nav.text | translate }}</a>
  </div>

  <div class="flex flex-row items-center gap-4">
    <div class="nav-bar-link {{ color }}">
      <span [ngClass]="{'active': currentLang === 'en'}" (click)="changeLang('en')">EN</span>
      / <span [ngClass]="{'active': currentLang === 'fr'}" (click)="changeLang('fr')">FR</span>
    </div>

    <div
      *ngIf="authService.isLoggedIn()"
      class="nav-bar-link max-lg:hidden {{ color }}"
      routerLink="/account"
      routerLinkActive="active"
    >{{ 'HEADER.ACCOUNT' | translate }}</div>

    <div
      class="nav-bar-link max-lg:hidden {{ color }}"
      routerLink="/basket"
      routerLinkActive="active"
    >{{ 'HEADER.BASKET' | translate }} <span *ngIf="savedProducts$ | async as savedProducts">({{ savedProducts.length }})</span></div>

    <div
      *ngIf="!authService.isLoggedIn()"
      class="nav-bar-link max-lg:hidden {{ color }}"
      [ngClass]="{'active': showAuthenticationPop}"
      (click)="toggleAuthenticationPopup(!showAuthenticationPop)"
    >{{ 'HEADER.LOGIN' | translate }}</div>

    <div
      *ngIf="authService.isLoggedIn()"
      class="nav-bar-link max-lg:hidden {{ color }}"
      (click)="authService.logout()"
    >{{ 'HEADER.LOGOUT' | translate }}</div>
  </div>

  <div class="hidden max-lg:block">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a
        *ngFor="let nav of navs; trackBy: trackByFn"
        mat-menu-item
        [routerLink]="[nav.route]"
      >{{ nav.text | translate }}</a>
      <a mat-menu-item routerLink="/basket">
        {{ 'HEADER.BASKET' | translate }} <span *ngIf="savedProducts$ | async as savedProducts">({{ savedProducts.length }})</span>
      </a>
    </mat-menu>
  </div>

  <pb-login-popup *ngIf="showAuthenticationPop && !authService.isLoggedIn()"></pb-login-popup>
</div>
